.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.product-details {
  text-align: left;
  width: 100%;
}

.product-details p {
  margin-bottom: 10px;
  font-size: 16px;
}

.product-details strong {
  font-weight: bold;
}

.product-details strong::after {
  content: ":";
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 6px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 6px solid #28a745; /* Change color based on your preference */
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
